
menu {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(255, 0, 0,40%); 
	width: 18%;
	padding: 0px;	
	margin: 0px;
	background-image: url(../img/menu-background-image.jpg);
	font-size: 12px;
}

.text {
	width:82%;
}

.chapter-name  {
	color: rgba(255, 0, 0, 80%);
	text-align: center;
	}

.note-name {
	color: rgba(0,0,255, 80%);
}

a {
	text-decoration: none
}